.DS_Store
.idea
__pycache__
node_modules
frontend/node_modules
yarn.lock
package-lock.json
HospitalHubServer/src/main/resources/mybatis-generator
HospitalHubServer/src/main/resources/application.properties
